<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center">About CodeBlog</h1>
        <div style="width: 50%; margin: 20px auto;">
            <img style="max-width: 100%" src="https://images.unsplash.com/photo-1541972289615-de502ba75939?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=199018e7154d7700e629c859b46377f5&auto=format&fit=crop&w=1650&q=80"
            
            <p>CodeBlog was founded in September 2018 as a project for a webdev bootcamp course I was taking online. Before CodeBlog there was a more rudimentary version, but after completing some additional projects, I wanted use all my skills and showcase them in "one" project, on my own, without just copying my instructor's code and not completely comprehending what was happening.</p>
        </div>
    </div>
</div>






<% include ./partials/footer %>