<% include ./partials/header %>

<div class="row">
    <div class="container">
        <h1>Sign up!</h1>
        <div class="col-md-12">
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="password">
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
    
</div>
    

<% include ./partials/footer %>